@model List<GoSerbisyo.Models.ServiceViewModel>

@{
    ViewBag.Title = "Results";
}

<div class="row margin-top-15">

    <br /><br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-12 text-left" id="divSeach">
                @{Html.RenderPartial("Search", new GoSerbisyo.Models.ServiceViewModel());}
                <!--form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="service-name" style="width:350px" placeholder="Service: Ex. Van Rental, Aircon Cleaning"> &nbsp;&nbsp;
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="service-location" style="width:350px" placeholder="Location: Ex. Santa Rosa, Laguna, Quezon City"> &nbsp;&nbsp;
                    </div>
                    <button type="submit" class="btn btn-success" id="btnSearch">Search Again</button>
                </form-->
            </div>
            <div class="col-xs-12">
                <hr />
                <h4>@ViewBag.Message</h4><hr />
            </div>
            <div class="col-xs-12">
                <div class="scroll">
                    <div class="row">&nbsp;</div>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        var ctr = i % 3;

                        if (ctr == 0)
                        {
                            @:<div class="row">
                            }
                            var item = Model[i];
                            <div class="col-xs-4">
                                <span style="font-weight:bold; text-align:center;"> @item.Name </span><br />
                                <button id="@item.Id" class="btn btn-circle btn-xs red btnShowCarousel">
                                    <img id="@item.Id" class="img-thumbnail imgService " alt="Add Image" />
                                </button>
                            </div>
                            if ((ctr == Model.Count - 1) || (ctr == 2))
                            {
                                @:</div><div class="row">&nbsp;</div>
                            }
                    }
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->

    <div class="modal fade bs-example-modal-lg" id="myServiceImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 9999">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="btnCloseServiceImageModal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" id="divServiceImageModal">
                    <p>Load partial view here..</p>
                </div>
            </div>
        </div>
    </div>

    <script>

    $(function () {

        var serviceId = $('.imgService').prop('id');
         $.ajax({
            type: "Get",
            url: "@Url.Action("GetMyFirstServiceImage","Home")",
            data: {
                serviceId: serviceId,
            },
            success: function (data) {
                $('.imgService').attr('src', "/Uploads/ServiceImages/" + data);
            },
        });

           $.ajax({
            type: "Get",
            url: "@Url.Action("Search","Results")",
            data: {
                serviceId: serviceId,
            },
            success: function (data) {
                $('#divSeach').html(data);
            },
         });

           $('.scroll').jscroll({
               autoTrigger: true
           })

    });

    $('#btnSearch').click(function (e) {
        e.preventDefault();
        var serviceName = $('#service-name').val();
        var serviceLoc = $('#service-location').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("","Results")",
            data: {
                name: serviceName,
                location: serviceLoc,
            },
            success: function (data) {
                location.reload(true);
            },
        });
    });

    $('.btnShowCarousel').click(function (e) {

        e.preventDefault();
        var serviceId = $(this).prop('id');
         $.ajax({
            type: "Get",
            url: "@Url.Action("DisplayServiceImages", "Results")",
            data: {
                serviceId: serviceId,
            },
            success: function (data) {
                $('#divServiceImageModal').html(data);
                $('#myServiceImageModal').modal('show');
                $('.carousel').carousel({
                    interval: 2000
                })
            }
        });

    });

       
    </script>
