@model List<GoSerbisyo.Models.ServiceModel>

@{
    ViewBag.Title = "Results";
}

<div class="row margin-top-15">

    <br /><br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-12 text-left" id="divSeach">
                @{Html.RenderPartial("Search", new GoSerbisyo.Models.ServiceModel());}
                <!--form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="service-name" style="width:350px" placeholder="Service: Ex. Van Rental, Aircon Cleaning"> &nbsp;&nbsp;
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="service-location" style="width:350px" placeholder="Location: Ex. Santa Rosa, Laguna, Quezon City"> &nbsp;&nbsp;
                    </div>
                    <button type="submit" class="btn btn-success" id="btnSearch">Search Again</button>
                </form-->
            </div>
            <div class="col-xs-12">
                <hr />
                <h4>@ViewBag.Message</h4><hr />
            </div>
            <div class="col-xs-12">
                <div id="serviceListDiv">
                    @{Html.RenderAction("ServiceList", "Results", new { Model = Model });}
                </div>
                <div id="loadingDiv" style="text-align: center; display: none; margin-bottom: 20px;">
                    <img alt="Loading" src="@Url.Content("~/images/ajax-loader.gif")" />
                </div>               
            </div>
        </div>
    </div>
</div>

<script>
   
    $(function () {

        var serviceId = $('.imgService').prop('id');
         $.ajax({
            type: "Get",
            url: "@Url.Action("GetMyFirstServiceImage","Home")",
            data: {
                serviceId: serviceId,
            },
            success: function (data) {
                $('.imgService').attr('src', "/Uploads/ServiceImages/" + data);
            },
        });

           $.ajax({
            type: "Get",
            url: "@Url.Action("Search","Results")",
            data: {
                serviceId: serviceId,
            },
            success: function (data) {
                $('#divSeach').html(data);
            },
         });

    });

    $('#btnSearch').click(function (e) {
        e.preventDefault();
        var serviceName = $('#Name').val();
        var serviceLoc = $('#Location').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("","Results")",
            data: {
                name: serviceName,
                location: serviceLoc,
            },
            success: function (data) {
                location.reload(true);
            },
        });
    });

    var BlockNumber = 2;  //Infinate Scroll starts from second block
    var NoMoreData = false;
    var inProgress = false;
    $(window).scroll(function () {
        var serviceName = $('#Name').val();
        var serviceLoc = $('#Location').val();
        if ($(window).scrollTop() == $(document).height() - $(window).height() && !NoMoreData && !inProgress) {

            inProgress = true;
            $("#loadingDiv").show();

            $.post("@Url.Action("InfinateScroll", "Results")", { "name": serviceName, "location": serviceLoc , "BlockNumber": BlockNumber  },
                    function (data) {

                        BlockNumber = BlockNumber + 1;
                        NoMoreData = data.NoMoreData;
                        $("#serviceListDiv").append(data.HTMLString);
                        $("#loadingDiv").hide();
                        inProgress = false;
                    });
        }
    });
</script>
