@model List<GoSerbisyo.Models.ServiceViewModel>

@{
    ViewBag.Title = "Results";
}

<div class="row margin-top-15">

    <br /><br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-12 text-left" id="divSeach">
                @{Html.RenderPartial("Search", new GoSerbisyo.Models.ServiceViewModel());}
                <!--form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="service-name" style="width:350px" placeholder="Service: Ex. Van Rental, Aircon Cleaning"> &nbsp;&nbsp;
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="service-location" style="width:350px" placeholder="Location: Ex. Santa Rosa, Laguna, Quezon City"> &nbsp;&nbsp;
                    </div>
                    <button type="submit" class="btn btn-success" id="btnSearch">Search Again</button>
                </form-->
            </div>
            <div class="col-xs-12">
                <hr />
                <h4>@ViewBag.Message</h4><hr />
            </div>
            <div class="col-xs-12">
                <div>
                    <div class="row">&nbsp;</div>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        var ctr = i % 3;

                        if (ctr == 0)
                        {
                            @:<div class="row">
                            }
                            var item = Model[i];
                                  <div class="col-xs-4 text-center">
                                      <span style="font-weight:bold; text-align:center;"><a href="@Url.Action("Details","Results", new { s = item.Id  })" target="_blank" id="@item.Id"> @item.Name</a> </span><br /><br />
                                      <span style="font-weight:bold; text-align:center;"> @item.Location </span><br /><br />                                      
                                      <img id="@item.Id" class="img-thumbnail imgService " alt="Add Image" />                                      
                                  </div>
                            if ((ctr == Model.Count - 1) || (ctr == 2))
                            {
                                @:</div><div class="row">&nbsp;</div>
                            }
                    }
                </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    $(function () {

        var serviceId = $('.imgService').prop('id');
         $.ajax({
            type: "Get",
            url: "@Url.Action("GetMyFirstServiceImage","Home")",
            data: {
                serviceId: serviceId,
            },
            success: function (data) {
                $('.imgService').attr('src', "/Uploads/ServiceImages/" + data);
            },
        });

           $.ajax({
            type: "Get",
            url: "@Url.Action("Search","Results")",
            data: {
                serviceId: serviceId,
            },
            success: function (data) {
                $('#divSeach').html(data);
            },
         });
          
    });

    $('#btnSearch').click(function (e) {
        e.preventDefault();
        var serviceName = $('#service-name').val();
        var serviceLoc = $('#service-location').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("","Results")",
            data: {
                name: serviceName,
                location: serviceLoc,
            },
            success: function (data) {
                location.reload(true);
            },
        });
    });
        
    </script>
